#picture {
    border-radius: 25%;
    border: 5px solid #fff;
    box-shadow: 1px 1px 8px #888888;
}

#name {
    margin-top: 20px;
}

#info {
    margin-left: -10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#location-info {
    margin-top: 30px;
}

#specializations {
    margin-top: -10px;
    color: #a1a1a1
}

#featured-projects {
    text-align: center;
    margin-bottom: 20px;
}

.featured-card {
    padding: 10px;

    margin: 10px 20px 0px 20px;
}

#card-holder {
    justify-content: center;
}

#contact-header {
    margin-top: -30px;
    margin-bottom: 30px;
}

#email-form {
    width: 50%;
    position: relative;
    margin-top: 60px;
    transform: translateX(50%);
}

.project-list-item {
    margin: 10px 0px 25px 0px;
}

#projects-header {
    margin-top: -30px;
    margin-bottom: -30px;
}

#resume-header {
    margin-top: -30px;
    margin-bottom: -30px;
}

#resume-about * {
    margin-top: -10px;
}

#resume-job-title {
    margin-top: 25px;
    font-style: italic;
}

#high-school {
    padding-top: 25px;
}

#project-link {
    margin-top: 25px;
}

.project-date {
    margin-top: -10px;
}

#email-success-alert {
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
}